# Base de datos
DB_HOST=localhost
DB_NAME=biblioteca
DB_USER=root
DB_PASS=

# Correo principal
MAIL_TICS=tics.danli@uph.edu.hn
MAIL_TICS_PASSWORD=

# Correo secundario
MAIL_BIBLIOTECA=biblioteca.danli@uph.edu.hn
MAIL_BIBLIOTECA_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
